<h1>Zwei-Schritt-Verifizierung einrichten</h1>
<p><b>Achtung!</b> Wenn du Zwei-Schritt-Verifizierung (kurz: <b>2SV</b>) einrichtest, gilt das für deinen ganzen Amazon-Account. Das heißt, du musst dann auch für die Amazon-Webseite (zumindest einmal) einen Code, der dir per SMS ans Mobiltelefon gesendet wird, eingeben.</p>
<ol style="padding:0px 0px 0px 10px";>
	<li><a href="https://www.amazon.de/a/settings/approval/setup/register" target="_blank">Amazon-Registrierungsseite</a> aufrufen</li>
	<li>Eventuell musst du dich mit deinem Amazon-Konto anmelden</li>
	<li>Wenn du 2SV bisher nicht eingerichtet hast: "Telefonnummer" wählen, deine Telefonnummer angeben, "SMS" auswählen und den per SMS übermittelten Code eingeben. Danach "Fertig" klicken.</li>
	<li>In den "Einstellungen für die 2SV" nun den Code für die Authentifizierungs-App einrichten:</li>
	<li>Link "Fügen Sie ein neues Telefon oder eine neue Authentifizierung-App hinzu".</li>
	<li>Bei "Sicherungsmethode hinzufügen" unten den Link "Barcode kann nicht gescannt werden?" klicken</li>
	<li>Kopiere die dort angezeigte Zeichenfolge im Plugin ins "Amazon Token" Feld</li>
	<li>Nun klicke "Zwei-Schritt-Schlüssel anzeigen".</li>
	<li>Die nun darunter grün angezeigte Zahl kopiere in das Eingabefeld bei Amazon und klicke dort "Speichern".</li>
	<li>Wenn der Prozess bei Amazon erfolgreich war, ist die 2SV fertig eingerichtet.</li>
	<li><b>Vergiss nicht, auch im Plugin zu speichern!</b></li>
</ol>
